<h2>Profile</h2>
<section>
  <h4>Name:</h4>
  <p>
    <%= user.name %>
  </p>
  <h4>Email:</h4>
  <p>
    <%= user.email %>
  </p>
  <h4>Mobile:</h4>
  <p>
    <%= user.mobile %>
  </p>
  <h4>Advertiser:</h4>
  <p>
    <%= user.advertiser ? "Yes" : "No" %>
  </p>
  <a class="btn" href="/users/profile/<%= user.id %>/edit">Edit</a>
</section>