<h1>Animals</h1>

<% if animals.empty? %>
  There are no animals.
<% else %>
  <% animals.each do |animal| %>
    <section>
      <h2><%= animal.species %></h2>

      <p>
        <a href="/animals/<%= animal.id %>/edit">
          <button>Edit <%= animal.species %></button>
        </a>
      </p>

      <form action="/animals/<%= animal.id %>" method="POST">
        <%#
          This hidden input is necessary for Sinatrato recognise
          this as a DELETE request.
        %>
        <input type="hidden" name="_method" value="DELETE">
        <button>Delete <%= animal.species %></button>
      </form>
    </section>
  <% end %>
<% end %>

<p>
  <a href="/animals/new">Add Animal</a>
</p>
